/* // <uniquifier>: Use a uniquifier for the class name
// <weight>: Use a value from 100 to 900

.work-sans-<uniquifier> {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

.container{
    max-width: 1440px;
    margin: 0 auto;
}
*{
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
}

header{
    background: rgba(255, 144, 14, 0.10);
    padding:50px 0px ;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    display: flex;
}
nav ul li{
    list-style: none;

}
.nav-titel h3{
   color:  #131313; 
   font-size: 2.8125rem;
   font-weight: 700;
}
nav ul li a{
    text-decoration: none;
    color: #424242;
    font-size: 1.125rem;
    font-weight: 500;
    margin-left: 2rem;
    
}
/*********************************************
            banner section css
**********************************************/
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.bannerr-title{
    font-size: 4rem;
    font-weight: 700;

}
.banenr-discription{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    margin: 2rem 0;
}
.banner-content a button, .tems-right a button{
    border-style: none;
    font-size: 1.25rem;
    font-weight: 600;
    background-color: #FF900E;
    padding: 1.2rem 1.5rem;
    border-radius: .5rem;
    color: #fff;
}
.banner-content a button{
    margin-bottom: 3.12rem;
    
}
.banner img{
    display: flex;
    justify-content: center;
    width: 100%;
} 
/*********************************************
            teams section css
**********************************************/
.tems{
    display: flex;
    margin: 3.31rem 3.5rem;
    align-items: center;
}
.tems-left {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.tems-right{
    padding: 0  4.56rem;
}
.tems-right h3{
    font-size: 2.8125rem;
    font-weight: 500;
    color: #727272;
    margin: 0;
}
.black{
    color: #131313;
    font-weight: 700;
}
.orange{
    color: #FF900E;
    font-weight: 700;
}
.tems-right p{
color: #727272;
font-size: 1rem;
font-weight: 400;
line-height: 1.625rem;
margin: 2rem 0;
}
/*********************************************
            Features section css
**********************************************/
.features{
    display: flex;
    gap: 9rem;
}
.features-left .features-title{
    border-left: 5px solid #FF900E;
    padding-left: 1.5rem;

}
.features-title{
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
    margin: 0;
}
.features-p{
    color: #727272;
    font-size: 1rem;
    line-height: 1.625rem;
}
.f-card h4{
    color: #131313;
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 1.88rem;
}
.f-card{
    padding: 1.8rem;
    margin:1.88rem 0;
    border-radius: .5rem;
    background-color: #f9f9f9;
}
.f-card p{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
}
.features-right img{
    height: 70%;
    margin-left: 7rem;
}
.exp{
    background-color: #FF900E;
    color: #fff;
    padding: 2.63rem;
    width:21.3rem ;
    text-align: center;
    border-radius: 0.5rem;
    position: relative;
    bottom: 8rem;
}
.exp h3{
    font-size: 4rem;
    font-weight: 700;
    margin: 0;

}
.exp p{
   font-size: 1.5rem;
   font-weight: 500;
   margin: 1rem 0 0 0;
}

/*********************************************
            facts section css
**********************************************/
.facts-tt{
    width: 40%;
}
.facts-tt h3{
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}
.facts-tt p{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    margin: 1.5rem 0 6.2rem 0;
}
.facts-info{
    display: flex;
    justify-content: space-between;
    margin: 6.26rem 3.13rem 11.26rem 3.13rem;
    text-align: center;
}
.card{
    border: 1px solid #FF900E;
    border-radius:0.5rem ;
    padding: 2.87rem;
}
.card h2{
    color: #424242;
    font-size: 2.8125rem;
    font-weight: 600;
}

.card p{
    color: #727272;
    font-size: 1.25rem;
    font-weight: 600;
}
/*********************************************
            sponspors section css
**********************************************/
.sponspors{
    text-align: center;
}
.sponspors h3{
    color: #131313;
    font-size:2.8125rem ;
    font-weight: 700;
    margin: 0;
}
.sponspors p{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    margin: 1.5rem 28rem 3.13rem 28rem;
}
.sponspors-logo{
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    align-items: center;
}
/*********************************************
            footer section css
**********************************************/
.footer-content{
    background-color:#FFF4E7 ;
    margin: 8rem 0 13.5rem 0;
    text-align: center;
    border-radius: 0.5rem;
}
.footer-content p{
    color: #424242;
    font-size: 1.25rem;
    font-weight: 400;
    padding: 2.44rem 0;
}

/*********************************************
     responsive style  css for small device
**********************************************/


@media screen and   (max-width:576px) {
    header{
        padding: 1rem;
    }
    nav, .tems, .facts-info, .sponspors-logo, .features{
        flex-direction: column;
    }

    nav ul li a,.tems{
        margin-left:0rem ;
        margin: 0 1rem;
    }
    
    
    /* tems */
    .tems-left{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .tems-right{
        padding: 0  2rem;
    }
    .tems-right h3{
        margin-top: 2rem;
    }
    .tems {
        margin: 2rem 0;
    }
    /* features */
.features-right img{
    margin: 1rem;
}
.exp{
    position: static;
    margin: 1rem;
}
    /* facts */
    .facts-tt{
        width: 100%;
        margin: 0 2rem;
    }
    .card{
        margin: 1rem 0;
    }
    .features-right img{
        width: 100%;
    }
/***********sponsor******** */
.sponspors p{
    margin:1rem ;
}
.sponspors-logo img{
    width: 10rem;
}


}
/*********************************************
 responsive style  css for tablet/medium device
**********************************************/
@media screen and   (min-width:577px) and (max-width:960px) {
    header{
        padding: 3rem;
    } 
    nav, .tems, .facts-info, .sponspors-logo, .features{
        flex-direction: column;
    }
    nav ul li a{
        margin-left:0rem ;
        margin: 0 1rem;
    }
    /* tems */
    .tems-left{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .tems-right{
        padding: 0  2rem;
    }
    .tems-right h3{
        margin-top: 2rem;
    }
    .tems {
        margin: 2rem 0;
    }
    /* features */


    /* facts */
    .facts-tt{
        width: 100%;
        margin: 0 2rem;
    }
    .card{
        margin: 1rem 0;
    }
    /***********sponsor******** */
.sponspors p{
    margin:1rem ;
}
}